.portfolio {
    /*background-color: #f9d5fc;*/
    padding: 150px 0 39px;
    width: 100%;
    /*height: 100vh;*/
}

/*-------------- @MEDIA -------------*/
@media (max-width: 1400px) {
    .portfolio {
        /*background-color: #f9d5fc;*/
        padding: 120px 0 39px;
        /*width: 100%;*/
        /*height: 100vh;*/
    }
}

@media (max-width: 768px) {
    .portfolio {
        padding: 100px 0 39px;
        /*background-color: #5f3863;*/
        display: flex;
        flex-direction: column;
    }
}