.portfolio {
    background-color: #f9d5fc;
    padding: 150px 0 39px;
    width: 100%;
    /*height: 100vh;*/
}

/*-------------- @MEDIA -------------*/
@media (max-width: 1040px) {
    .portfolio {
        background-color: #f9d5fc;
        /*padding: 150px 0 39px;*/
        /*width: 100%;*/
        /*height: 100vh;*/
    }
}

@media (max-width: 768px) {
    .portfolio {
        background-color: #5f3863;
        display: flex;
        flex-direction: column;
    }
}