.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f9a7a7;
}

.headerContent {
    max-width: 800px;
    height: 500px;
    margin: 100px;
}
