.container {
    padding: 150px 0 47px;
}

.blog_list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
}

.blog_card {
    width: 46%;
    height: 400px;
    cursor: pointer;
    overflow: hidden;
    /*border: 1px solid;*/
}

.card_img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;

}

.card_img img {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: -50%;
    vertical-align: middle;
}

.item_title {
    padding-top: 25px;
}

.item_title p {
    margin-bottom: 9px;
    font-size: 14px;
    text-transform: uppercase;
}

.item_title h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000;
}

.item_title h3 a {
    text-decoration: none;
    color: #000;
}

.load_more {
    padding-top: 19px;
    width: 100%;
    height: 100px;
}

.load_more a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #888;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 66px;
    border: 2px solid rgba(11, 11, 11, 0.2);
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.load_more a:hover {
    border: 2px solid rgb(151, 119, 80);
    color: var(--mc)
}
.link_text {
    transition: all .3s ease;
}
@media (max-width: 1040px) {
    .blog_card {
        max-width: 100%;
    }
}

@media (max-width: 650px) {
    .blog_card {
        width: 100%;
    }
}