header {
    /*background-color: #f8daff;*/
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    padding: 150px 0;
}

.signature {
    /*border: 1px solid;*/
    height: 200px;
    width: 350px;
    background-image: url("../../Assets/signature2.png");
    background-size: 100%;
}

@media (max-width: 1040px) {
    .header {
        height: 100%;
        padding-bottom: 120px;
    }
}

@media (max-width: 768px) {
    .header {
        /*height: 100%;*/
        padding-bottom: 150px;
    }

}
