.App {
    display: flex;
    justify-content: space-between;

    /*border: 5px solid #37eb0a;*/
}

.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    /*animation: container 0.5s ease-in-out;*/
}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 70%;
}

.Main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /*border: 2px solid #d60aeb;*/
    max-width: 80%;
    min-width: 30%;

    height: 100%;
}

/*@keyframes container {*/
/*    from {*/

/*    }*/
/*    to {*/

/*    }*/

/*}*/
