.App {
    display: flex;
    position: relative;
    /*border: 5px solid #37eb0a;*/
}

.container1, .container2 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 58%;
    transition: all .5s ease-in-out;
    transform: translateX(0px);
}

.container2 {
    width: 68%;
    transition: all .2s ease-in-out;
    /*transform: translateX(20px);*/
}

.pages {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;
    transition: all .5s ease;
    /*border: 1px solid #d60aeb;*/
}

/*-------------- @MEDIA -------------*/
@media (max-width: 1450px) {
    .pages {
        width: 90%;
    }
    .container2 {
        transform: translateX(30px);
    }
}

@media (max-width: 1040px) {
    .App {
        width: 100%;
        flex-direction: column-reverse;
    }

    .container1,
    .container2 {
        width: 100%;
        transform: translateX(0px);
    }

    .pages {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .App {
        width: 100%;
        flex-direction: column-reverse;
    }

    .container1, .container2 {
        width: 100%;
    }

    .pages {
        width: 95%;
    }
}