.App {
    display: flex;

    /*border: 5px solid #37eb0a;*/
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    /*border: 5px solid #d60aeb;*/
    width: 70%;

}

.Main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /*border: 2px solid #d60aeb;*/
    max-width: 80%;
    min-width: 30%;

    height: 100%;
}

