@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;1,500&family=Jost:wght@100;200;300;400;500;600&display=swap');

:root {
  --mc: #987750;
  --tc: #888;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", "Arial", "Helvetica", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  /*background-color: #1d1b19*/
  background-color: #fff;
  color: #777;
  line-height: 1.44;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

h3 {
  padding: 0;
  font-weight: 400;
  margin-bottom: 18px;
  color: #000;
  line-height: 1.2;
  font-size: 30px;
}

p {
  letter-spacing: 0;
}

a {
  text-decoration: none;
  transition: all .5s ease;
}

a:hover {
  color: var(--mc)!important;
}

@media (max-width: 1200px) {
  body, html {
    width: 100%;
    overflow-x: hidden;
    position: relative
  }
}