.container {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 250px;
    width: 100%;
    background-color: #cbe1ff;
    /*border: 1px solid black*/
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    width: 100%;
    border-top: 1px solid black;
    font-size: 18px;
}

.arrowUp {
    position: absolute;
    right: 100px;
    bottom: 130px;
    height: 80px;
    width: 80px;
    background-color: #fff;
    border: none;
}

.arrowUp:hover {
    border: 1px solid black;
}