.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: #cee3ec;*/
    /*height: 660px;*/
    width: 100%;
    animation: slide 1s ease-in-out;
}

.card {
    height: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #dddddd;
    position: relative;
    padding: 42px 40px 43px;
    margin: 10px 0;
    background-color: #fafafa;
    animation: experienc 1s ease-in-out;
}

.cardPosition h3 {
    line-height: 1.2;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 17px;
    color: #000;
    /*border: 1px solid red*/
}
.cardPosition::before {
    content: '';
    border: 2px solid #b7b6b6;
    height: 40px;
    position: absolute;
    left: 0;
}

.cardTitle {
    display: flex;
    line-height: 30px;
    margin-bottom: 14px;
}

.cardTitle h5 {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 30px;
}

.cardTitle span {
    display: block;
    font-size: 16px;
    line-height: 30px;
    margin-left: 20px;
    color: #888;
}

.cardDescription {
    font-size: 17px;
    letter-spacing: 0;
    color: #746e6e;
}

@keyframes slide {
    0% {
        transform: scale(0.9) rotate(-3deg);
        opacity: .3;

    }
    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;

    }
}
